

#forcast{
  height:420px;
  overflow: auto;
}


.enter_data{
  display: inline-block;
  vertical-align:top;
  width: 58%;
}


.enter_time{
  display: inline-block;
  vertical-align:top;
  width: 40%;
}

#selected{
   font-weight: bold;
   font-size: 1.2em;
}



#value{

  width: 194px;
}