

#forcast{
  height:420px;
  overflow: auto;
}


.enter_data{
  display: inline-block;
  vertical-align:top;
  width: 100px;
}


.enter_time{
  display: inline-block;
  vertical-align:top;
  width: 90px;
}

#selected{
   font-weight: bold;
   font-size: 1.2em;
}

#names_lm{

  width: 194px;
}
#login{

  width: 194px;
}
#password{

  width: 194px;
}
#value{

  width: 194px;
}